@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: url(./Images/3dfbd421-111a-484b-a250-5521fe7e49cf.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 300px;
}

input:focus {
    outline: none;
}

.weather h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    background: rgb(231, 229, 229);
    color: black;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 0;
    width: 100%;
}