@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap');

* {
    border-style: border-box;
}

body {
    margin: 0;
    background: url(./Images/pexels-drift-shutterbug-2085998.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: azure;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
    color: cornsilk;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    font-weight: bold;
    font-size: 5rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.container {
    text-align: center;
}

.container span {
    font-size: 1.3rem;
}