@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: #e6d9d9;
    border-radius: 10px;
    border: none;
    color: rgb(32, 32, 32);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

input::placeholder {
    color: rgb(129, 129, 129);
}

input:focus {
    outline: none;
}

.card {
    background-color: #404f58;
    border-radius: 20px;
    display: flex;
    padding: 3rem;
    max-width: 900px;
}

.avatar {
    border: 10px solid #fcfcfd;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.user-info {
    color: rgb(255, 254, 254);
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    background-color: #3c3c3d;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}